body{background-color: rgba(255,179,200,0.2);}
header{
	color: red;
	font-size: 30px;
	text-align: center;
	border: 5px solid rgba(200,150,175,0.7);
	background-color: pink;
	padding: 0px 20px;
	width: 40%;
	margin: auto;
}

.a123{color: green;
	font-size: 18px;
	text-align: center;
	border: 1px solid rgba(200,150,175,0.7);
	background-color: rgba(0,255,200,0.2);
	padding: 0px 20px;
	width: 10%;
	margin: auto;
}
p{color: red;
	font-size: 25px;
	text-align: center;
	border: 1px solid rgba(200,150,175,0.7);
	background-color: rgba(255,100,100,0.2);
	padding: 10px 20px;
	width: 10%;
	margin:25px auto; 
	box-shadow: 5px 5px 5px #88888 
}
img{
	width:400px ;
	height:350px;
	margin:15px 15px; 
	transition:all 0.66s
}
img:hover{
	transform: scale(1.15);
}
#md{display: none;}
#yt{display: none;}
.i123:hover #md{display: center}
.pctr{display: inline-flex;}
